%color-nice {
  background-color: #2ee47ae1;
}
%color-average {
  background-color: #fdcd4be1;
}
%color-bad {
  background-color: #da4453e1;
}
$transparentBlue: #33a0e9d8;

$padding: 0.5rem;

$border-radius: 2rem;

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
}

.Movie {
  position: relative;
  width: 90%;
  margin-bottom: 1.5rem;
  @media (min-width: 550px) {
    width: 40%;
  }
  @media (min-width: 768px) {
    width: 30%;
  }
  @media (min-width: 1024px) {
    width: 23%;
  }

  @media (min-width: 1440px) {
    width: 18%;
  }

  @media (min-width: 2560px) {
    width: 15%;
  }
}

.Movie-link {
  position: relative;
  cursor: pointer;

  width: 100%;
  height: 100%;

  display: block;
  border: 0;
  outline: 0;
  text-decoration: none;
  padding: $padding;

  background-color: #2f343f;
  border-radius: $border-radius;
}

.Movie {
  &-poster {
    position: relative;

    display: block;
    width: 100%;

    margin: auto;

    &-img {
      border-radius: $border-radius;
      display: block;
      width: 100%;
    }

    &-like {
      width: 2.5rem;
      height: 2.5rem;

      position: absolute;
      top: $padding * 2;
      left: $padding * 3;
      z-index: 1;
    }

    &-vote {
      border-top-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;

      position: absolute;
      top: 0;
      right: 0;

      padding: 0.75rem;

      z-index: 1;

      font-weight: 500;
      font-size: 1rem;
      text-align: center;
      color: #2f343f;
    }
    @each $type in 'nice' 'average' 'bad' {
      .vote-#{$type} {
        @extend %color-#{$type};
      }
    }
  }

  &-title {
    display: block;
    z-index: 1;

    box-sizing: border-box;

    margin: 0;
    padding-top: $padding;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    font-weight: 600;
    font-size: 1.1rem;
    position: relative;

    color: #c7cdd4;
    transition: color 0.5s linear;

    &::before {
      content: '';
      margin: auto;

      height: 0.25rem;

      border-radius: $border-radius;

      position: absolute;
      left: 50%;
      right: 50%;
      top: -0.25rem;
      transform: translateX(-50%);

      width: 0;
      transition: width 0.3s linear;
    }
  }
  @each $type in 'nice' 'average' 'bad' {
    .title-#{$type}::before {
      @extend %color-#{$type};
    }
  }
}

.blur {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: $border-radius;

  width: 100%;
  height: 100%;

  background-color: $transparentBlue;

  opacity: 0;
  transition: opacity 0.5s linear;
  &-overview {
    margin: 0;

    position: absolute;
    top: 4rem;
    left: 0;
    bottom: 3.625rem;
    // bottom изменяется скриптом в инлайновом ксс
    width: 100%;

    box-sizing: border-box;
    padding-right: $padding * 2;
    padding-left: $padding * 2;

    overflow: auto;

    font-size: 1.1rem;
    font-weight: 500;
    color: #24282f;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.Movie:hover {
  .Movie-title {
    color: #000;
    transition: color 0.5s linear;

    &::before {
      width: 100%;
      transition: width 0.3s linear;
    }
  }

  .blur {
    opacity: 1;
    transition: opacity 0.5s linear;
  }
}
