/* dark theme */
body{
  /* black */
  background-color: #404552;
  background-color: #383c4a;
  background-color: #353945;
  background-color: #2f343f;
  /* grey */
  background-color: #666a73;
  /* blue */
  background-color: #3daee9;
  background-color: #5294e2;
  background-color: #2980b9;
  /* red */
  background-color: #da4453;
  /* orange */
  background-color: #f67400;
  /* green */
  background-color: #11d116;
  background-color: #27ae60;
  /* yellow */
  background-color: #c9ce3b;
  background-color: #fdbc4b;
}
p{
  /* white text */
  color: #d3dae3;
  /* grey text inactive */
  color: #666a73;
}

/* light theme */