/* стили полное дерьмо. лучше даже не разбираться)) */
.Statistics {
  width: 40%;
  margin: auto;
  background-color: #ffffff;
  border: none;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.title-container {
  text-align: center;
}
.title {
  display: block;
  padding-top: 1rem;
}

.statistics-container {
}
.statistics-list {
  padding: 0;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.StatisticsItem {
  display: inline-block;
  text-align: center;
}
.label {
  display: block;
}
.percentage {
  display: block;
  color: lightcoral;
}
