.SearchBar {
  width: 80%;
  max-width: 20rem;
  margin: auto;
}
.SearchBar-form {
  position: relative;

  border-radius: 2rem;
  display: flex;
  margin: auto;

  flex-flow: row wrap;
  justify-content: space-between;

  background-color: #27ae60;
  transition: background-color 0.2s linear;
}

.SearchBar-form--HOVER {
  background-color: #14b819;
  transition: background-color 0.2s linear;
}

.form-input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;

  box-sizing: border-box;
  padding: 0.5rem;
  height: 100%;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color: #2f343f;
}

/* search */
.form-input[name='search'] {
  border-radius: 2rem;
  padding-left: 1rem;

  background-color: #2980b9;
}
.form-input[name='search']::placeholder {
  color: #404552;
}
.form-search--notONLY {
  width: 70%;

  transition: all 1s linear;
}
.form-search--ONLY {
  width: 100%;

  transition: all 1s linear;
}

/* submit */
.form-input[type='submit'] {
  position: absolute;
  top: 0;
  right: 0;

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  text-align: center;

  background-color: #00000000;
}

.form-submit--SHOWN {
  opacity: 1;
  width: 30%;
  padding-right: 1rem;

  transition: all 1s linear;
}

.form-submit--HIDDEN {
  opacity: 0;
  padding: 0;
  width: 0;

  transition: all 1s linear;
}
