.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
}

.DetailsShower {
  background-color: #383c4a;
  box-sizing: border-box;
  width: 95%;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 2rem;

  position: relative;
}

.DetailsShower-poster {
  width: 100%;
  position: relative;
}

.DetailsShower-poster-img {
  display: block;
  border-radius: 2rem;

  width: 100%;
}

.DetailsShower-poster-vote {
  display: block;

  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;

  position: absolute;
  top: 0;
  right: 0;

  padding: 0.75rem;

  z-index: 1;

  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #2f343f;
}
.vote-bad {
  background-color: #da4453e1;
}
.vote-average {
  background-color: #fdcd4be1;
}
.vote-nice {
  background-color: #2ee47ae1;
}

@media (max-width: 426px) {
  .DetailsShower-blur {
    position: absolute;

    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;

    border-radius: 2rem;

    background-color: #2f343fd8;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 2rem;
  }
}

.DetailsShower-title {
  padding: 0;
  margin: 0;

  color: #d3dae3;
  font-weight: 700;
  font-size: 1.3rem;

  margin-bottom: 1rem;
}

.DetailsShower-overview {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;

  color: #d3dae3;
  font-weight: 500;
  font-size: 1rem;
}
.DetailsShower-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.DetailsShower-navigation-link {
  text-decoration: none;
  color: #f67400;
  padding: 4rem;
}
.DetailsShower-navigation-link--ACTIVE {
  color: #da4453;
}
