%color-nice {
  background-color: #2ee47ae1;
}
%color-average {
  background-color: #fdcd4be1;
}
%color-bad {
  background-color: #da4453e1;
}
$transparentBlue: #33a0e9d8;

$padding: 0.5rem;

$border-radius: 2rem;

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  text-align: center;
}

.DetailsShower {
  position: relative;

  width: 95%;
  margin: auto;

  border-radius: $border-radius;
  background-color: #383c4a;

  box-sizing: border-box;
  width: 95%;
  margin: auto;

  &-like {
    position: absolute;
    z-index: 2;

    width: 2.5rem;
    height: 2.5rem;

    top: $padding * 1.5;
    left: $padding * 2;
  }

  &-poster {
    width: 100%;
    height: auto;

    &-img {
      display: block;

      width: 100%;
      height: auto;

      border-radius: $border-radius;
    }

    &-vote {
      border-top-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;

      position: absolute;
      top: 0;
      right: 0;

      padding: 0.75rem;

      z-index: 1;

      font-weight: 500;
      font-size: 1rem;
      text-align: center;
      color: #2f343f;
    }
    @each $type in 'nice' 'average' 'bad' {
      .vote-#{$type} {
        @extend %color-#{$type};
      }
    }
  }
  .blur {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: $border-radius;

    width: 100%;
    height: 100%;

    background-color: #3539459a;

    padding-top: 3rem + $padding;

    padding-right: $padding * 2;
    padding-left: $padding * 2;

    &-title {
      margin: 0;
      font-size: 1.1rem;
      color: #d3dae3;
    }
    &-overview {
      color: #d3dae3;
    }
  }
}
